@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #eeefec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #CEFF05;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
